
*.xnb
.vs/StrategyGame/v16/.suo
bin/Debug/netcoreapp3.1/Content/Audio/superSuspense.ogg
bin/Debug/netcoreapp3.1/MonoGame.Framework.dll
bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libopenal.so.1
bin/Debug/netcoreapp3.1/runtimes/linux-x64/native/libSDL2-2.0.so.0
bin/Debug/netcoreapp3.1/runtimes/osx/native/libopenal.1.dylib
bin/Debug/netcoreapp3.1/runtimes/osx/native/libSDL2-2.0.0.dylib
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/SDL2.dll
bin/Debug/netcoreapp3.1/runtimes/win-x64/native/soft_oal.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/SDL2.dll
bin/Debug/netcoreapp3.1/runtimes/win-x86/native/soft_oal.dll
bin/Debug/netcoreapp3.1/StrategyGame.deps.json
bin/Debug/netcoreapp3.1/StrategyGame.dll
bin/Debug/netcoreapp3.1/StrategyGame.exe
bin/Debug/netcoreapp3.1/StrategyGame.pdb
bin/Debug/netcoreapp3.1/StrategyGame.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/StrategyGame.runtimeconfig.json
Content/bin/DesktopGL/Content/Audio/superSuspense.ogg
Content/obj/DesktopGL/Content/.mgcontent
Content/obj/DesktopGL/Content/.mgstats
Content/obj/DesktopGL/Content/Audio/backMenu.mgcontent
Content/obj/DesktopGL/Content/Audio/forwardMenu.mgcontent
Content/obj/DesktopGL/Content/Audio/menuHover.mgcontent
Content/obj/DesktopGL/Content/Audio/superSuspense.mgcontent
Content/obj/DesktopGL/Content/Fonts/fixedsys.mgcontent
Content/obj/DesktopGL/Content/Fonts/uiLabels.mgcontent
Content/obj/DesktopGL/Content/Textures/emptyblack.mgcontent
Content/obj/DesktopGL/Content/Textures/logo.mgcontent
Content/obj/DesktopGL/Content/Textures/mine.mgcontent
Content/obj/DesktopGL/Content/Textures/test.mgcontent
Content/obj/DesktopGL/Content/Textures/testred.mgcontent
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/apphost.exe
obj/Debug/netcoreapp3.1/StrategyGame.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/StrategyGame.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/StrategyGame.assets.cache
obj/Debug/netcoreapp3.1/StrategyGame.csproj.CopyComplete
obj/Debug/netcoreapp3.1/StrategyGame.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/StrategyGame.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/StrategyGame.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/StrategyGame.dll
obj/Debug/netcoreapp3.1/StrategyGame.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/StrategyGame.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/StrategyGame.csproj.nuget.dgspec.json
obj/StrategyGame.csproj.nuget.g.props
obj/StrategyGame.csproj.nuget.g.targets
